@import "variables";

%flex-center {
  display: flex;
  align-items: center;
}

header {
  padding-top: 32px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-inner__logo {
  @extend %flex-center;
  width: 100%;
  max-width: 380px;
  img {
    width: 36px;
    height: 36px;
    margin-right: 12px;
  }
}

.header-inner__search {
  @extend %flex-center;
  width: 100%;
  max-width: 402px;
  button {
    padding: 0;
  }
  input {
    border: none;
    outline: none;
    border-bottom: 1px solid $main-font-color;
    width: 100%;
    max-width: 320px;
    padding: 10px 0 6px 0;
    margin-right: 32px;
  }
}

.header-inner__login {
  @extend %flex-center;
  justify-content: flex-end;
  font-weight: 500;
  width: 100%;
  max-width: 380px;
  button {
    padding: 0 0 0 16px;
  }
}

.header-inner-login__name {
  min-width: 34px;
}

.header-inner__burger {
  position: absolute;
  top: 17px;
  right: 0;
  span {
    display: none;
    position: relative;
    width: 25px;
    height: 4px;
    background-color: $main-font-color;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    &:before {
      position: absolute;
      left: 0;
      top: -8px;
      content: ' ';
      display: block;
      width: 25px;
      height: 4px;
      background-color: $main-font-color;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }
    &:after {
      position: absolute;
      left: 0;
      top: 8px;
      content: ' ';
      display: block;
      width: 25px;
      height: 4px;
      background-color: $main-font-color;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }
    &.open {
      background-color: transparent;
      &:before {
        transform: rotate(45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
      }
      &:after {
        transform: rotate(-45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
      }
    }
  }
}


@media (max-width: 890px) {
  header {
    max-height: 80px;
    overflow: hidden;
    transition: 0.2s linear;
    &.open {
      max-height: 230px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
  .header__inner {
    flex-direction: column;
    align-items: start;
  }
  .header-inner__burger {
    span {
      display: block;
    }
  }
  .header-inner__search {
    max-width: 100%;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .header-inner__login {
    max-width: 100%;
    margin: 25px 0;
  }
}
