@import "variables";

nav {
  margin-top: 44px;
  margin-bottom: 32px;
  padding-bottom: 7px;
}

.nav__inner {
  display: flex;
  justify-content: center;
  a {
    margin: 0 12.5px;
    padding-bottom: 7px;
    &.active {
      color: $color;
      border-bottom: 2px solid $color;
    }
  }
}
