$main-font: 'Rubik', sans-serif;
$main-font-color: #333333;
$second-font-color: #ffffff;
$third-font-color: #1F4766;
$color: #E5261E;
$hover-color: #CC221B;
$bg-color: #F2F2F2;
$scrollbar-color: #BDBDBD;
