@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import "~normalize.css";
@import "variables";
@import "header";
@import "nav";
@import "films";
@import "footer";

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  color: $main-font-color;
}

body {
  font-family: $main-font;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

button {
  border: none;
  border-radius: 4px;
  background-color: $color;
  color: $second-font-color;
  padding: 10px 32px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.1s linear;
  font-size: 16px;
  &:focus {
    border: none;
    outline: none;
  }
  &:hover {
    background-color: $hover-color;
  }
}

a {
  color: $main-font-color;
  text-decoration: none;
}

h1 {
  font-size: 28px;
  font-weight: 500;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}


h3 {
  font-size: 20px;
  font-weight: 500;
}
