@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import "~normalize.css";
@import "variables";
@import "header";
@import "nav";
@import "films";
@import "channels";
@import "footer";

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  color: $main-font-color;
}

body {
  font-family: $main-font;
}

.container {
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  border: none;
  border-radius: 4px;
  background-color: $color;
  color: $second-font-color;
  padding: 10px 32px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.1s linear;
  font-size: 16px;
  &:focus {
    border: none;
    outline: none;
  }
  &:hover {
    background-color: $hover-color;
  }
  &.btn-clear {
    background: none;
    color: $color;
    &:hover {
      background: none;
    }
  }
}

a {
  color: $main-font-color;
  text-decoration: none;
}


h2 {
  font-size: 24px;
  font-weight: 500;
}


h3 {
  font-size: 20px;
  font-weight: 500;
}

ul {
  list-style-type: none;
  margin: 0;
}

.hide {
  display: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
input[type='search']::-ms-clear {
  display: none!important;
  width : 0;
  height: 0;
}

@media (max-width: 1020px) {
  p {
    font-size: 14px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
}
